@pqina:registry=https://npm.pqina.nl/
//npm.pqina.nl/:_authToken=wUUW5d.jGnFEZB00Ge6L2eiAJJ9U0j85mjJQ8.cZ0lzmJHt/u/B4O

always-auth=true
registry=http://repo.dvdfab.me/verdaccio/
//repo.dvdfab.me/verdaccio/:_authToken="QT5MRHQGxc7cg4ehKzT45kSGch9PDLLKhnjfm+3LlCg="
